body{
    background-color: #091A21;
}
.container{
    text-align: center;
    margin-top:23px;
    position: absolute;
    width: 40%;
    top: 25%;
    right: 15%
}

table{
    margin: auto;
}

input{
    border-radius: 21px;
    border: 5px solid #244624;
    font-size:34px;
    margin-bottom: 15px;
    margin-top: 0px;
    height: 60px;
    width: 90%;
}

button{
    font-size: 30px;
    background: #0D2935;
    width: 65px;
    color: white;
    height: 17%;
    margin: auto;
}

.calculator{ 
    border: 2px solid ;
    background-color: gray;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
    height: 50%;
    width: 50%;
}
.text{
    height: 200px; 
    margin: -8px 5px 0px 20%; 
    color: white;
    width: 30%; 
    float: left;
    position: absolute;
    top: 40%;
    left: -10%; 
} 
h1{
    font-family: fantasy;
    text-align: center;
    font-size: 40px;
    letter-spacing: 4px;
}
h3{
    text-align: center;
    font-size: 20px;
}
@media only screen and ( max-width: 1200px) {
    button{
        font-size: 20px;
        background: #0D2935;
        width: 40px;
        color: white;
        height: 17%;
        margin: auto;
        padding-left: 1px;
    }

}
.calculator{ 
    border: 2px solid ;
    background-color: gray;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
    height: 50%;
    width: 54%;
}