body{
    box-sizing: border-box;
    background-color: gray;
    margin: 0px;
    padding: 0px;
}
.headerimage1{
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 20%;
    margin: 0px 0px 0px 0px;
}
.headerimage2{
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 20%;
    margin: 0px 0px 0px 0px;
}
.headertext{
    margin-top: 12%
 }
.userimage{
    border-radius: 50%;
    text-align: center;
    border: 10px solid white;
    margin-left: 43%;
    margin-top: -5%;
    position: relative;
}
.container{
    position: absolute;
    top: 43%;
    padding: 3% 0% 2% 8%;
    left: 23%;
    border-radius: 10px;
    background-color: white;
    width: 31%;
    margin-bottom: 10%;
    margin-left: 7%;
}
p{
    color: black;
    margin: 13% auto 0 7%;
    font-size: 25px;
    font-family: Arial;

}
.btn {
    position: absolute;
    bottom: 33%;
    opacity: 0.3;
    left: 69%;
    background-color: white;
    color: black;
    font-size: 30px;
    padding: auto auto;
    cursor: pointer;
    text-align: center;
    border: none;
    font-weight: bold;
    transform: scale(1,3);
    }

.btn2 {
    position: absolute;
    bottom: 33%;
    opacity: 0.3;
    font-weight: bold;
    right: 70%;
    background-color: white;
    color: black;
    font-size: 30px;
    padding: auto auto;
    cursor: pointer;
    transform: scale(1,3);
    text-align: center;
    border: none;
}
