.main{
	border-top: 1px dotted;
}
.WebContainer{
    width:98%;
    height:100%;
	border: 1.5px solid blue;
}
label
{    
  width:25%;
  line-height:5px;
}
select{
	width:25%;
	margin: 10px;
}
select:focus{
	min-width:5px;
	width: 25%;
}
.GFG{ 
        background-color: white; 
        border: 2px solid black; 
        color: black; 
        padding: 5px 1px; 
        text-align: center; 
        display: inline-block; 
        font-size: 20px; 
        margin: 10px 30px; 
        cursor: pointer; 
    } 
input[type=text],select{
	width:100%; 
	padding:10px,20px;
	margin:10px 0; 
	display:inline-block; 
	border:2px solid #f2f2f2;
	border-radius:5px;
	box-sizing: border-box;
}
input[type=email],}input[type=number], select{
	align-content:center;
	width:100%;
	padding:10px,20px;
	margin:10px 0px; 
	display:inline-block; 
	border:2px solid #f2f2f2;
	border-radius:5px;
	box-sizing: border-box;
}
input[type=submit] {
	
  width: 25%;
  background-color: #f1f1f3;
  color: red;
  padding: 15px 20px;
  margin-left: 400px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

div {
  border-radius: 10px;
  background-color: #f1f1f3;
  padding: 15px;
}
form{
        margin-left: 20px;
        margin-right: 60px;
    }
.form-popup{
  display:none;
}
.button {
  background-color: #4CAF50;
  border:1px solid black ;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}