.container {
    position: relative;
    text-align: center;
    color: white;
    background-image: linear-gradient(to bottom right, #A39BE2, #87F3FB);
    margin: 2px 5px 0 15px;
    height: 400px;
}
img{
    height: 80%;
    width: 35%;
    margin: 10px 0px 0px 10px;
    border: 2px solid black;
    align-items: left;
    border-radius: 25px;
}
.imgtext{
    position: absolute;
    top: 70%;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%, -50%);
    margin-left: 100px;
}
.innercontainer{
    height : 80%;
    border-radius: 10px;
    background-color: white;
    width: 72%;
    color: black;
    position: absolute;
    top: 47%;
    left: 14%;
    /* border: 3px solid rgb(89, 0, 255); */
}
video{
    height: 80%;
    width: 35%;
    margin: 0 0 0 10px;
    border-radius: 25px;
}
.container .btn {
    position: fixed;
    top: 78%;
    left: 18.5%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: black;
    font-size: 20px;
    padding: 0px auto;
    cursor: pointer;
    border-radius: 0px;
    text-align: center;
    }
.container .btn2 {
    position: fixed;
    top: 78%;
    right: 59%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: black;
    font-size: 20px;
    padding: 0px auto;
    cursor: pointer;
    border-radius: 0px;
    text-align: center;
    }
.image{
    display: none;
}
.video image{
    display: none;
}
.active{
    display: block;
}
.innertext{
    font-size: 25px;
    text-align:justify;
    margin-left: 15px;
}
canvas{
    border:1px solid #d3d3d3;
    margin-top: 33px;
}
.logout{
    position: absolute;
    top: 1%;
    right: 1%;
}

@media only screen and ( max-width: 1200px) {
    img{
        height: 40%;
        width: 17%;
        margin: 10px 0px 0px 10px;
        border: 2px solid black;
        align-items: left;
        border-radius: 25px;
    }
    video{
        height: 40%;
        width: 17%;
        margin: 0px 0 0 10px;
        border-radius: 25px;
    }
    .innertext{
        font-size: 15px;
        text-align:justify;
        margin-left: 15px;
    }
    .container {
        position: relative;
        text-align: center;
        color: white;
        background-image: linear-gradient(to bottom right, #A39BE2, #87F3FB);
        margin: 2px 5px 0 15px;
        height: 300px;
    }
    .innercontainer{
        height : 73%;
        border-radius: 10px;
        width: 65%;
        color: black;
        position: absolute;
        top: 55%;
        left: 14%;
    }
    .container .btn {
        position:absolute;
        top: 54%;
        left: 4%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        color: black;
        font-size: 20px;
        padding: 0px auto;
        cursor: pointer;
        border-radius: 0px;
        text-align: center;
        }
    .container .btn2 {
        position: absolute;
        top: 54%;
        right: 79%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        color: black;
        font-size: 20px;
        padding: 0px auto;
        cursor: pointer;
        border-radius: 0px;
        text-align: center;
        }
    canvas{
        border:1px solid #d3d3d3;
        margin-top: 10px;
        padding-top: 0px;
    }
        
}

