* {
  box-sizing: border-box;
}
html {
  background-color: white;
  /* border: 5px solid #89cff0; */
  height: 100%;
  width: 100%;
}
.back {
  width: 100%;
  margin: -8px -15px -20px -8px;
  text-align: center;
}
.back::after {
  background-color: bisque;
  height: 100%;
  width: 100%;
  margin: -8px -15px -20px -8px;
  text-align: center;
  border: 5px solid #89cff0;
}
.heading {
  text-align: left;
  color: black;
  font-weight: bold;
  font-size: 30px;
  z-index: 1;
  padding-top: 1%;
  padding-left: 30px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background: #efefef;
  height: 70px;
}
.inputapp {
  z-index: 1;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 2px;
}
.aligndiv {
  z-index: 1;
  margin-bottom: 1px;
}
ul {
  margin: -1px;
  z-index: 1;
  padding: 0;
  height: 100% !important;
}
/* Style the list items */
ul li {
  cursor: pointer;
  color: black;
  z-index: 1;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  box-shadow: 2px 2px gray;
  font-size: 18px;
  transition: 0.2s;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
li {
  /* background: #eeee; */
  cursor: pointer;
  /* box-shadow: black; */
  box-shadow: 20px 2px gray;
  margin: 35px;
  z-index: 1;
  padding: 12px 8px 12px 40px;
  font-size: 18px;
  width: 90%;
  margin-left: 8px;
}

ul li:hover {
  z-index: 1;
  background: teal;
  color: white;
}
ul li.checked {
  z-index: 1;
  background: rgb(85, 145, 145);
  color: #fff;
  /* text-decoration: line-through; */
}
/* Add a "checked" mark when clicked on */
/* ul li.checked::before {
  content: "";
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 10px;
  transform: rotate(5deg);
  height: 15px;
  width: 7px;
} */
#myUL {
  text-align: center;
  margin-right: 0%;
  z-index: 1;
}
.buttonadd {
  background-color: teal;
  color: white;
  cursor: pointer;
  padding: 8.5px 5px;
  margin-left: 2%;
  margin-bottom: 5px;
}
.buttonadd:hover {
  background-color: black;
}
.close {
  cursor: pointer;
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 12px 16px;
}
.close:hover {
  background: #bbb;
}
.markdone {
  cursor: pointer;
  position: absolute;
  top: 0%;
  left: 0%;
  height: 90%;
  padding: 12px 16px;
}
.hide {
  display: none;
}
.buttonsave {
  position: absolute;
  top: 39%;
  z-index: 3;
  left: 62.9%;
  cursor: pointer;
  background: #efefef;
  color: green;
}
.buttondiscard {
  cursor: pointer;
  position: absolute;
  top: 45%;
  left: 62.9%;
  z-index: 3;
  background: #efefef;
  color: red;
}
.confirmdelete {
  background-color: teal;
  color: white;
  z-index: 2;
  border: 0.5px solid black;
  border-radius: 7px;
  margin-left: 39.5%;
  position: absolute;
  top: 35%;
  left: -10%;
  width: 35.5%;
  height: 30%;
}
.editinput {
  position: absolute;
  top: 10%;
  left: 5.5%;
  width: 88%;
  height: 80%;
  align-items: center;
  z-index: 3;
  background-color: white;
  border-left: 0px;
  font-size: 20px;
  text-align: center;
  border-right: 0px;
  border-bottom: 0px;
  vertical-align: middle;
  border-radius: 5px;
}
.editinput:focus {
  overflow-y: scroll;
  font-size: 30px;
  border-top-width: 1px;
  outline: none;
}
.editinput:focus::-webkit-scrollbar {
  display: none;
}
