* {
  box-sizing: border-box;
}
html {
  /* background-color: bisque; */
  /* border: 5px solid #89cff0; */
  height: 100%;
}
.back {
  width: 100%;
  margin: -8px -15px -20px -8px;
  text-align: center;
}
.aligndiv {
  margin-bottom: 1px;
}
.heading {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 30px;
  text-decoration: underline;
  padding-bottom: 0%;
}
.buttonadd {
  /* background-color: blue; */
  color: black;
  font-size: 15px;
  cursor: pointer;
  padding: 8.5px 5px;
  margin-left: 2%;
  margin-bottom: 5px;
  border-width: 1px;
}
.buttonadd:hover {
  background-color: blue;
  border-width: 0.5px;
  color: white;
}

.inputapp {
  height: 37px;
  margin-top: 5px;
  margin-bottom: 2px;
}
.markdone {
  cursor: pointer;
  position: absolute;
  top: 0%;
  left: 0%;
  height: 90%;
  padding: 12px 16px;
}
.close {
  cursor: pointer;
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 12px 16px;
}
.close:hover {
  background: #bbb;
}
#myUL {
  padding: 0;
  margin-top: 2%;
  margin-left: 1%;
}
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #aaaa;
  font-size: 18px;
  transition: 0.2s;
  width: 100%;
}
li {
  background: #efef;
  padding: 12px 8px 12px 40px;
  margin: 2% auto 2% auto;
  box-shadow: 2px 2px rgb(71, 68, 68);
}
ul li:nth-child(odd) {
  background: #f9f9f9;
}
ul li:hover {
  background: #ddd;
}
ul li.checked {
  background: rgb(77, 4, 247);
  color: #fff;
  /* text-decoration: line-through; */
}
