/* html body {
  box-sizing: border-box;
  background: white;
  color: #84a5c1;
} */
.headerspantext {
  background: teal;
  height: 100px;
  width: 100%;
}
.buttontext {
  background: teal;
  color: white;
  cursor: pointer;
  margin-left: 10%;
  text-decoration: none;
  font-size: 19px;
  transition: transform 0.5s;
}
.headerbuttons {
  width: 240px;
  position: absolute;
  top: 11%;
  height: 75px;
  right: 1%;
}
.buttontext:hover {
  background-color: transparent;
  background-color: rgb(65, 165, 165);
  transform: scale(1.9);
  font-size: 22px;
}
