.formdiv {
  width: 100%;
  z-index: 1;
  margin-top: 1%;
}
.register-form {
  font-size: 20px;
  margin: 7% 15% 10% 50%;
  z-index: 1;
  box-shadow: 5px 5px #d8d6da;
  border-radius: 10px;
  background-color: white;
}
.formimage {
  position: absolute;
  border-radius: 10px;
  box-shadow: 5px 5px #d8d6da;
  top: 31%;
  left: 6%;
  height: 59%;
  width: 40%;
  z-index: 0;
}
.formfield {
  color: black;
  font-size: 15px;
  margin: 35px 50px;
}
.forminput {
  height: 30px;
  width: 45.5%;
}
.emailfield {
  margin-right: 11.3%;
  margin-top: 90px;
}
.messagefield {
  margin-right: 6.6%;
}
.submitbtn {
  position: absolute;
  box-shadow: none;
  background-color: teal;
  right: 23%;
  color: white;
  height: 6%;
  font-size: 16px;
  width: 16%;
}
.errormsg {
  color: red;
  margin-left: 28%;
  font-size: 13px;
}
.success-message {
  color: green;
  size: 17px;
  margin-left: 14%;
}
.textarea {
  vertical-align: middle;
}
textarea {
  display: inline-block;
  vertical-align: middle;
}
