body,
html {
  height: 500px;
  background-color: #f0f2f5;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
input[type="login"],
input[type="password"] {
  width: 100%;
  padding: 12px 10px;
  margin: 5px 0;
  box-sizing: border-box;
}
#loginform {
  padding-bottom: 10px;
}
.buttonlogin {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px 10px 20px;
  margin: 0px 0% 1px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  float: right;
}
.buttonlogin:hover {
  opacity: 0.6;
}
.container {
  padding: 5px;
  margin: 0px;
}
span.psw {
  float: left;
  padding-top: 16px;
  text-align: center;
}
.outercontainer {
  background-color: white;
  margin: -8px 5px 0px 20%;
  width: 30%;
  float: right;
  border-radius: 2.5%;
  position: absolute;
  top: 18%;
  right: 10%;
}
.eyelogin {
  position: absolute;
  right: 8%;
  top: 50%;
  cursor: pointer;
}
.text {
  height: 200px;
  margin: -8px 5px 0px 20%;
  width: 30%;
  float: left;
  position: absolute;
  top: 25%;
  left: -10%;
}
h1 {
  font-family: fantasy;
  text-align: center;
  font-size: 50px;
  letter-spacing: 4px;
  font-stretch: ultra-expanded;
}
h3 {
  text-align: center;
  font-size: 20px;
}
.error-message {
  font-size: 16px;
  color: red;
  z-index: 2;
  /* margin-left: 20px; */
}
