body,
html {
  height: 100%;
  background-color: #f0f2f5;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.formsignup {
  border: 3px solid #f1f1f1;
  border-radius: 2.5%;
  padding-bottom: 10px;
}

input[type="signup"],
input[type="password"] {
  width: 100%;
  padding: 12px 10px;
  margin: 5px 0;
  border: 2px solid #ccc;
  box-sizing: border-box;
}

.buttonsignup {
  background-color: #0821ff;
  padding: 10px;
  margin: 0px 5px 0px 5px;
  color: white;
  border: none;
  float: center;
  width: 98%;
  cursor: pointer;
}

.buttonsignup:hover {
  opacity: 0.6;
}
h2 {
  padding-left: 10px;
}
.imgcontainer {
  text-align: center;
  margin: 5px 0 12px 0;
}

.containersignup {
  padding: 10px;
}

.outercontainersingup {
  background-color: white;
  margin: -8px 5px 0px 20%;
  width: 30%;
  float: right;
  border-radius: 5%;
  position: absolute;
  top: 8%;
  right: 10%;
}
.h1signup {
  font-family: fantasy;
  text-align: center;
  font-size: 50px;
  letter-spacing: 4px;
  font-stretch: ultra-expanded;
}
.h3signup {
  text-align: center;
  font-size: 20px;
}
.text {
  height: 200px;
  margin: -8px 5px 0px 20%;
  width: 30%;
  float: left;
  position: absolute;
  top: 25%;
  left: -10%;
}
footer {
  position: fixed;
  bottom: 0px;
  margin-left: 0px;
  width: 100%;
  font-size: 13px;
  background-color: white;
  color: gray;
}
.eyesignuppassword {
  position: absolute;
  right: 6%;
  top: 44%;
  cursor: pointer;
}
.eyesignupconfirmpassword {
  position: absolute;
  right: 6%;
  top: 56%;
  cursor: pointer;
}
.conditiontext {
  color: gray;
  font-size: small;
  padding-left: 5px;
  padding-right: 2px;
}
.loginpagebuttton {
  background-color: transparent;
  color: black;
  width: fit-content;
  display: inline;
  text-decoration: none;
  text-align: left;
}
