.back {
  width: 100%;
  margin: -8px -15px -10px -8px;
  text-align: center;
}
.profilebutton {
  position: absolute;
  top: 1%;
  right: 7%;
}
.profilebutton:hover {
  background-color: teal;
  border-width: 0.5px;
  color: white;
}
.profilebutton:active {
  background-color: rgb(0, 87, 87);
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}
.logoutbutton {
  position: absolute;
  top: 1%;
  right: 2%;
}
.logoutbutton:hover {
  background-color: teal;
  border-width: 0.5px;
  color: white;
}
.logoutbutton:active {
  background-color: rgb(0, 87, 87);
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}
.heading {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 30px;
  text-decoration: underline;
  padding-bottom: 0%;
}
.buttonadd {
  color: black;
  font-size: 15px;
  cursor: pointer;
  padding: 8.5px 5px;
  margin-left: 2%;
  margin-bottom: 5px;
  border-width: 1px;
  border-radius: 0px;
}
.buttonadd:hover {
  background-color: teal;
  border-width: 0.5px;
  color: white;
}
.buttonadd:active {
  background-color: rgb(0, 87, 87);
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}
.aligndiv {
  margin-bottom: 6%;
}
.inputapp {
  height: 37px;
  margin-top: 5px;
  margin-bottom: 2px;
}
.markdone {
  cursor: pointer;
  position: absolute;
  top: 0%;
  left: 1%;
  height: 90%;
  padding: 12px 16px;
}
.close {
  cursor: pointer;
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 2;
  padding: 12px 16px;
}
.close:hover {
  background: #bbb;
}
.close:active {
  background-color: #666;
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}
#myUL {
  padding: 0;
  margin-top: 2%;
  margin-left: 1%;
}
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #aaaa;
  font-size: 18px;
  transition: 0.2s;
  width: 96%;
}
li {
  background: #efef;
  padding: 12px 8px 12px 40px;
  margin: 2% auto 2% auto;
  box-shadow: 2px 2px rgb(110, 108, 108);
}
ul li:nth-child(odd) {
  background: #f9f9f9;
}
ul li:hover {
  background: teal;
}
ul li:active {
  transform: translateY(2px);
}
ul li.checked {
  background: rgb(0, 77, 77);
  color: #fff;
}
.editinput {
  position: absolute;
  top: 10%;
  left: 5.5%;
  width: 88%;
  height: 70%;
  align-items: center;
  z-index: 3;
  background-color: white;
  border-left: 0px;
  font-size: 20px;
  text-align: center;
  border-right: 0px;
  border-bottom: 0px;
  border-radius: 5px;
  padding-top: 12px;
  resize: none;
}
.editinput:focus {
  overflow-y: scroll;
  font-size: 30px;
  border-top-width: 1px;
  outline: none;
}
.editinput:focus::-webkit-scrollbar {
  display: none;
}
.linefordate {
  color: black;
  position: absolute;
  top: 23%;
  left: 9%;
  background: black;
  width: 82%;
  height: 1px;
  z-index: 4;
}
.buttonsave {
  position: fixed;
  top: 39%;
  z-index: 2;
  left: 63.15%;
  cursor: pointer;
  background: #efefef;
  color: green;
}
.buttondiscard {
  cursor: pointer;
  position: fixed;
  top: 45%;
  left: 63.15%;
  z-index: 2;
  background: #efefef;
  color: red;
}
.update {
  background-color: rgb(199, 188, 188);
  color: white;
  z-index: 2;
  border: 0.5px solid black;
  border-radius: 7px;
  margin-left: 39.5%;
  position: fixed;
  top: 35%;
  left: -10%;
  width: 35.5%;
  height: 30%;
}

.confirmdeletebox {
  background-color: rgb(199, 188, 188);
  color: black;
  z-index: 2;
  border: 1px solid black;
  border-radius: 7px;
  margin-left: 39.5%;
  position: fixed;
  top: 35%;
  left: -10%;
  width: 35.5%;
  height: 30%;
  opacity: 1;
}
.buttondelete {
  position: fixed;
  top: 59.5%;
  z-index: 2;
  left: 36.5%;
  height: 5%;
  cursor: pointer;
  background: #efefef;
  color: black;
}
.buttoncancel {
  cursor: pointer;
  position: fixed;
  top: 59.5%;
  height: 5%;
  left: 53.8%;
  z-index: 2;
  background: #efefef;
  color: black;
}
.confirmdeletetext {
  background-color: white;
  height: 62%;
  font-size: 25px;
  width: 90%;
  position: absolute;
  left: 5%;
  top: 3%;
}
