* {
  box-sizing: border-box;
}
html {
  background-color: bisque;
  border: 5px solid #89cff0;
  height: 100%;
}
.back {
  width: 100%;
  margin: -8px -15px -20px -8px;
  text-align: center;
}
.back::after {
  background-color: bisque;
  height: 100%;
  width: 100%;
  margin: -8px -15px -20px -8px;
  text-align: center;
  border: 5px solid #89cff0;
}
.editinput {
  position: absolute;
  top: 28%;
  left: 32.5%;
  width: 32%;
  height: 24%;
  align-items: center;
  z-index: 1;
  background-color: rgb(250, 233, 210);
  border-left: 0px;
  font-size: 20px;
  text-align: center;
  border-right: 0px;
  border-top: 1px solid gray;
  border-bottom: 0px;
}
.editinput:focus {
  position: absolute;
  top: 28%;
  left: 32%;
  width: 32.5%;
  height: 30%;
  text-align: center;
  z-index: 1;
  overflow-y: scroll;
  font-size: 30px;
  background-color: rgb(250, 233, 210);
  border-top-width: 1px;
  outline: none;
}
.editinput:focus::-webkit-scrollbar {
  display: none;
}
p {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 30px;
  text-decoration: underline;
  padding-bottom: 0%;
}
.inputapp {
  height: 30px;
  margin-top: 5px;
  margin-bottom: 2px;
}
.aligndiv {
  margin-bottom: 1px;
}
ul {
  margin: -1px;
  padding: 0;
  height: 100% !important;
}
/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  width: 100%;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
li {
  background: #eeee;
  cursor: pointer;
  padding: 12px 8px 12px 40px;
  font-size: 18px;
  height: 100% !important;
  width: 95%;
  margin-left: 8px;
}
ul li:nth-child(odd) {
  background: #f9f9f9;
}
ul li:hover {
  background: #ddd;
}
ul li.checked {
  background: rgb(95, 216, 95);
  color: #fff;
  /* text-decoration: line-through; */
}
/* Add a "checked" mark when clicked on */
/* ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 10px;
  transform: rotate(5deg);
  height: 15px;
  width: 7px;
} */
#myUL {
  text-align: center;
  height: 100% !important;
  margin-right: 0%;
}
.buttonadd {
  background-color: green;
  color: white;
  cursor: pointer;
  padding: 8.5px 5px;
  margin-left: 2%;
  margin-bottom: 5px;
}
.buttonadd:hover {
  background-color: rgb(56, 182, 51);
}
.close {
  cursor: pointer;
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 12px 16px;
}
.close:hover {
  background: #bbb;
}
.markdone {
  cursor: pointer;
  position: absolute;
  top: 0%;
  left: 0%;
  height: 90%;
  padding: 12px 16px;
}
.hide {
  display: none;
}
.buttonsave {
  position: absolute;
  top: 28%;
  z-index: 2;
  left: 64.5%;
  cursor: pointer;
  background: #aaa;
}
.buttondiscard {
  cursor: pointer;
  position: absolute;
  top: 35%;
  z-index: 2;
  left: 64.5%;
  background: #aaa;
}
