.innercontainer {
  position: fixed;
  top: 32%;
  left: 32%;
  width: 30%;
  height: 27%;
  align-items: center;
  z-index: 3;
  background-color: white;
  border-left: 0px;
  font-size: 20px;
  text-align: center;
  border-right: 0px;
  border-bottom: 0px;
  vertical-align: middle;
  border-radius: 5px;
  border: 3px solid black;
}
.confirm {
  position: absolute;
  bottom: 10px;
  height: 30px;
  left: 20%;
}
.confirm:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
  background-color: rgb(65, 165, 165);
}
.cancel {
  position: absolute;
  bottom: 10px;
  height: 30px;
  right: 20%;
}
.cancel:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
  background-color: rgb(65, 165, 165);
}
.confirmtext {
  color: black;
}
