.formdiv {
  width: 100%;
  z-index: 1;
  margin-top: 1%;
}

.register-form {
  font-size: 20px;
  margin: 7% 10% 10% 50%;
  z-index: 1;
}
.formimage {
  position: absolute;
  top: 40%;
  left: 9%;
  z-index: 0;
}
.formfield {
  color: black;
  font-size: 15px;
  margin: 40px 50px;
}
.forminput {
  height: 30px;
  width: 40%;
}
.emailfield {
  margin-right: 10%;
  margin-top: 90px;
}
.messagefield {
  margin-right: 5.8%;
}
.submitbtn {
  position: absolute;
  box-shadow: none;
  background-color: teal;
  right: 23.5%;
  color: white;
  height: 6%;
  font-size: 16px;
  width: 16%;
}
.errormsg {
  color: red;
  margin-left: 28%;
  font-size: 13px;
}
.success-message {
  color: green;
  size: 17px;
  margin-left: 14%;
}
.textarea {
  vertical-align: middle;
}
textarea {
  display: inline-block;
  vertical-align: middle;
}
